.block h2{
    color: #000;
    font-family: Open Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.div-navbar-item{
    padding-left: 10px;
    gap: 10px;
    display: flex;
    align-items: center;
    width: 338px;
    height: 66px;
    color: #616161;
    font-family: Open Sans;
    font-size: 26.711px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    flex-shrink: 0;
}
.div-navbar-item:hover{
    background-color: #8e8e8e;
}

.div-navbar-item-enable{
    background-color: #8E78F7;
}
.navbar-icon path{

    stroke: #616161
}